* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

header {
  display: flex;
  color: rgb(244, 240, 248);
  background-color: black;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
}

main {
  display: flex;
	justify-content: center;
  align-items: flex-start;
  margin-top: 2em;
}

input {
  margin: 20px 0;
  padding: 5px 10px;
  font-size: 2em;
}

.output {
  font-size: 2em;
  margin-left: 1.6em;
}

footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 50px;
  background-color: black;
  color: antiquewhite;
}
